{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}

{% block header %}
<h1>Tem certeza que deseja excluir a entrada?</h1>
{% endblock header%}

{% block content %}

<div class="card my-3">
    <div class="card-body">
        <h3>{{ topic.text|linebreaks }}</h3>
    </div>
</div>

<form method="post" class="form-inline">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Sim, excluir</button>

    <a href="{% url 'learning_logs:topics'%}" class="btn btn-default">Cancelar</a>
</form>

{% endblock content %}